// @import "styles_reset";
@import "reset-css";
@import "~bootstrap/scss/bootstrap";
@import "texts";
@import "/node_modules/swiper/css/swiper.css";
@import "custom_swiper";
@import "store_icons";
.main {
    background: #FFFFFF;
    .promo-block__logo img,
    .objective-block__img img,
    .promo-block__img img,
    .challenges-block__img img {
        max-width: 100%;
        margin-top: 5%;
    }
}

.promo-block {
    &:before {
        background: url(/images/promo-background.svg) no-repeat;
        background-size: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
    }
    .promo-block__img {
        max-width: 1499px;
        margin: 0 auto 0 auto;
    }
    .promo-block__img img {
        max-width: 100%;
    }
}

.customer-block {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .customer-block__img img {
        max-width: 100%;
        @media (max-width: 414px) {
            max-width: 140%;
            margin: 0 -16%;
        }
    }
}

.heart {
    .customer-block__heart {
        position: absolute;
        top: 25%;
        right: 0;
        z-index: 0;
        @media (max-width: 414px) {
            overflow: hidden;
            width: 140px;
            height: 400px;
            top: 22%;
            right: 0;
        }
    }
}

.background-image__left-border {
    position: absolute;
    margin-top: -40%;
    left: 0;
    z-index: 0;
    @media(max-width: 1440px) {
        left: -6%;
    }
    @media(max-width: 1240px) {
        margin-top: -92%;
        left: -10%;
    }
    @media(max-width: 1024px) {
        display: none;
    }
}

.block-desktop {
    display: block;
    @media(max-width: 767px) {
        display: none;
    }
}

.block-mobile {
    display: none;
    @media(max-width: 767px) {
        display: block;
    }
}

.background-image__right-border {
    position: absolute;
    margin-top: -47%;
    right: 0;
    z-index: 0;
    @media(max-width: 1240px) {
        margin-top: -66%;
    }
    @media(max-width: 1024px) {
        display: none;
    }
}

.solution-block__text {
    z-index: 1;
}

.challenges-static {
    display: block;
    max-width: 1526px;
    margin: 3% auto 0 auto;
    @media (max-width: 768px) {
        display: none;
    }
}

.challenges-static img {
    max-width: 100%;
}

.features-block {
    div:last-child {
        text-transform: uppercase;
    }
    .features-block__text {
        p {
            margin-bottom: 3%;
        }
    }
}